## 1. Counting missing values
<table>
<thead>
<tr>
<th>column</th>
<th>data type</th>
<th>description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>product_name</code></td>
<td><code>varchar</code></td>
<td>Name of the product</td>
</tr>
<tr>
<td><code>product_id</code></td>
<td><code>varchar</code></td>
<td>Unique ID for product</td>
</tr>
<tr>
<td><code>description</code></td>
<td><code>varchar</code></td>
<td>Description of the product</td>
</tr>
</tbody>
</table>
<h3 id="finance"><code>finance</code></h3>
<table>
<thead>
<tr>
<th>column</th>
<th>data type</th>
<th>description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>product_id</code></td>
<td><code>varchar</code></td>
<td>Unique ID for product</td>
</tr>
<tr>
<td><code>listing_price</code></td>
<td><code>float</code></td>
<td>Listing price for product</td>
</tr>
<tr>
<td><code>sale_price</code></td>
<td><code>float</code></td>
<td>Price of the product when on sale</td>
</tr>
<tr>
<td><code>discount</code></td>
<td><code>float</code></td>
<td>Discount, as a decimal, applied to the sale price</td>
</tr>
<tr>
<td><code>revenue</code></td>
<td><code>float</code></td>
<td>Amount of revenue generated by each product, in US dollars</td>
</tr>
</tbody>
</table>
<h3 id="reviews"><code>reviews</code></h3>
<table>
<thead>
<tr>
<th>column</th>
<th>data type</th>
<th>description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>product_name</code></td>
<td><code>varchar</code></td>
<td>Name of the product</td>
</tr>
<tr>
<td><code>product_id</code></td>
<td><code>varchar</code></td>
<td>Unique ID for product</td>
</tr>
<tr>
<td><code>rating</code></td>
<td><code>float</code></td>
<td>Product rating, scored from <code>1.0</code> to <code>5.0</code></td>
</tr>
<tr>
<td><code>reviews</code></td>
<td><code>float</code></td>
<td>Number of reviews for the product</td>
</tr>
</tbody>
</table>
<h3 id="traffic"><code>traffic</code></h3>
<table>
<thead>
<tr>
<th>column</th>
<th>data type</th>
<th>description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>product_id</code></td>
<td><code>varchar</code></td>
<td>Unique ID for product</td>
</tr>
<tr>
<td><code>last_visited</code></td>
<td><code>timestamp</code></td>
<td>Date and time the product was last viewed on the website</td>
</tr>
</tbody>
</table>
<h3 id="brands"><code>brands</code></h3>
<table>
<thead>
<tr>
<th>column</th>
<th>data type</th>
<th>description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>product_id</code></td>
<td><code>varchar</code></td>
<td>Unique ID for product</td>
</tr>
<tr>
<td><code>brand</code></td>
<td><code>varchar</code></td>
<td>Brand of the product</td>
</tr>
</tbody>
</table>
<p>We will be dealing with missing data as well as numeric, string, and timestamp data types to draw insights about the products in the online store. Let's start by finding out how complete the data is.</p>

In [215]:
%%sql
postgresql:///sports

SELECT count(*) as total_rows,
count(description) as count_description,
Count(listing_price) as count_listing_price,
Count(last_visited) as count_last_visited
from info as i
Inner Join finance as f 
on i.product_id=f.product_id
INNER JOIN 
traffic  as t on f.product_id=t.product_id;

1 rows affected.

[(3179, 3117, 3120, 2928)]

## 2. Nike vs Adidas pricing

In [217]:
%%sql


Select b.brand,f.listing_price::integer,count(f.*)
From finance  as f
Inner Join brands as b
On f.product_id= b.product_id
where listing_price > 0
group by b.brand,f.listing_price
order by listing_price desc;

 * postgresql:///sports
77 rows affected.

[('Adidas', 300, 2),
 ('Adidas', 280, 4),
 ('Adidas', 240, 5),
 ('Adidas', 230, 8),
 ('Adidas', 220, 11),
 ('Nike', 200, 1),
 ('Adidas', 200, 8),
 ('Nike', 190, 2),
 ('Adidas', 190, 7),
 ('Nike', 180, 4),
 ('Adidas', 180, 34),
 ('Nike', 170, 14),
 ('Adidas', 170, 27),
 ('Nike', 160, 31),
 ('Adidas', 160, 28),
 ('Adidas', 150, 41),
 ('Nike', 150, 6),
 ('Adidas', 140, 36),
 ('Nike', 140, 12),
 ('Adidas', 130, 96),
 ('Nike', 130, 12),
 ('Adidas', 120, 115),
 ('Nike', 120, 16),
 ('Nike', 110, 17),
 ('Adidas', 110, 91),
 ('Nike', 100, 14),
 ('Adidas', 100, 72),
 ('Adidas', 96, 2),
 ('Nike', 95, 1),
 ('Nike', 90, 13),
 ('Adidas', 90, 89),
 ('Adidas', 86, 7),
 ('Nike', 85, 5),
 ('Adidas', 85, 1),
 ('Adidas', 80, 322),
 ('Nike', 80, 16),
 ('Nike', 79, 1),
 ('Adidas', 76, 149),
 ('Adidas', 75, 1),
 ('Nike', 75, 7),
 ('Adidas', 70, 87),
 ('Nike', 70, 4),
 ('Adidas', 66, 102),
 ('Nike', 65, 1),
 ('Adidas', 63, 1),
 ('Nike', 60, 2),
 ('Adidas', 60, 211),
 ('Adidas', 56, 174),
 ('Adidas', 55, 2),
 ('Adidas', 53, 43),
 ('Nike', 50, 5),
 ('Adidas', 50, 183),
 ('Adidas', 48, 42),
 ('Nike', 48, 1),
 ('Adidas', 46, 163),
 ('Nike', 45, 3),
 ('Adidas', 45, 1),
 ('Adidas', 43, 51),
 ('Adidas', 40, 81),
 ('Nike', 40, 1),
 ('Adidas', 38, 24),
 ('Adidas', 36, 25),
 ('Adidas', 33, 24),
 ('Adidas', 30, 37),
 ('Nike', 30, 2),
 ('Adidas', 28, 38),
 ('Adidas', 27, 18),
 ('Adidas', 25, 28),
 ('Adidas', 23, 1),
 ('Adidas', 20, 8),
 ('Adidas', 18, 4),
 ('Adidas', 16, 4),
 ('Adidas', 15, 27),
 ('Adidas', 13, 27),
 ('Adidas', 12, 1),
 ('Adidas', 10, 11),
 ('Adidas', 9, 1)]

## 3. Labeling price ranges

In [219]:
%%sql

SELECT b.brand,count(f.*),SUM(f.revenue) As total_revenue,
CASE WHEN f.listing_price < 42 THEN 'Budget'
     When f.listing_price >=42 and f.listing_price <74 THEN 'Average'
     WHEN f.listing_price >=74 and f.listing_price <129 THEN 'Expensive'
    ELSE 'Elite' END AS price_category
From finance  as f
Inner Join brands as b
On f.product_id= b.product_id
where b.brand IS NOT NULL
group by b.brand,price_category
order by total_revenue DESC ;

 * postgresql:///sports
8 rows affected.

[('Adidas', 849, 4626980.069999999, 'Expensive'),
 ('Adidas', 1060, 3233661.060000001, 'Average'),
 ('Adidas', 307, 3014316.8299999987, 'Elite'),
 ('Adidas', 359, 651661.1200000002, 'Budget'),
 ('Nike', 357, 595341.0199999992, 'Budget'),
 ('Nike', 82, 128475.59000000003, 'Elite'),
 ('Nike', 90, 71843.15000000004, 'Expensive'),
 ('Nike', 16, 6623.5, 'Average')]

## 4. Average discount by brand

In [221]:
%%sql



Select b.brand,AVG(f.discount) * 100 as average_discount
From finance  as f
Inner Join brands as b
On f.product_id= b.product_id
group by b.brand
having b.brand IS NOT NULL
ORDER BY average_discount;

 * postgresql:///sports
2 rows affected.

[('Nike', 0.0), ('Adidas', 33.452427184465606)]

## 5. Correlation between revenue and reviews

In [223]:
%%sql


Select CORR(reviews,revenue) as review_revenue_corr
From reviews as r
Inner Join
finance as f
on r.product_id=f.product_id

 * postgresql:///sports
1 rows affected.

[(0.6518512283481301,)]

## 6. Ratings and reviews by product description length

In [225]:
%%sql


SELECT TRUNC(LENGTH(i.description),-2) as description_length,
round(AVG(r.rating::numeric),2) as average_rating
From info as i
Inner Join reviews as r
on i.product_id=r.product_id
Where description is Not Null
Group By description_length
Order By description_length;

 * postgresql:///sports
7 rows affected.

[(Decimal('0'), Decimal('1.87')),
 (Decimal('100'), Decimal('3.21')),
 (Decimal('200'), Decimal('3.27')),
 (Decimal('300'), Decimal('3.29')),
 (Decimal('400'), Decimal('3.32')),
 (Decimal('500'), Decimal('3.12')),
 (Decimal('600'), Decimal('3.65'))]

## 7. Reviews by month and brand

In [227]:
%%sql

Select b.brand,
        EXTRACT(month from t.last_visited) as month,
        COUNT(r.product_id) as num_reviews
From brands as b
Inner Join 
traffic as t
on b.product_id=t.product_id
Inner Join
reviews as r
on b.product_id=r.product_id
where brand is not null and EXTRACT(month from t.last_visited) is not null
Group by b.brand,month
Order by b.brand,month

 * postgresql:///sports
24 rows affected.

[('Adidas', Decimal('1'), 253),
 ('Adidas', Decimal('2'), 272),
 ('Adidas', Decimal('3'), 269),
 ('Adidas', Decimal('4'), 180),
 ('Adidas', Decimal('5'), 172),
 ('Adidas', Decimal('6'), 159),
 ('Adidas', Decimal('7'), 170),
 ('Adidas', Decimal('8'), 189),
 ('Adidas', Decimal('9'), 181),
 ('Adidas', Decimal('10'), 192),
 ('Adidas', Decimal('11'), 150),
 ('Adidas', Decimal('12'), 190),
 ('Nike', Decimal('1'), 52),
 ('Nike', Decimal('2'), 52),
 ('Nike', Decimal('3'), 55),
 ('Nike', Decimal('4'), 42),
 ('Nike', Decimal('5'), 41),
 ('Nike', Decimal('6'), 43),
 ('Nike', Decimal('7'), 37),
 ('Nike', Decimal('8'), 29),
 ('Nike', Decimal('9'), 28),
 ('Nike', Decimal('10'), 47),
 ('Nike', Decimal('11'), 38),
 ('Nike', Decimal('12'), 35)]

## 8. Footwear product performance

In [229]:
%%sql

With footwear As(
    Select i.description,f.revenue
    From info as i
    Inner Join 
    finance as f
    On i.product_id=f.product_id
    Where i.description ilike '%shoe%'
    or i.description ilike '%trainer%'
    or i.description ilike '%foot%'
)

select count(*) as num_footwear_products,
    percentile_disc(0.5) within group(order by revenue) as median_footwear_revenue
    from footwear

 * postgresql:///sports
1 rows affected.

[(2700, 3118.36)]

## 9. Clothing product performance

In [231]:
%%sql


With footwear As(
    Select i.description,f.revenue
    From info as i
    Inner Join 
    finance as f
    On i.product_id=f.product_id
    Where i.description ilike '%shoe%'
    or i.description ilike '%trainer%'
    or i.description ilike '%foot%'
)

select count(*) as num_clothing_products,
    percentile_disc(0.5) within group(order by f.revenue) as median_clothing_revenue
    from info as i
    inner join finance as f
    on i.product_id=f.product_id
    where i.description not in (select description from footwear)

 * postgresql:///sports
1 rows affected.

[(417, 503.82)]